html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
}
.el-breadcrumb{
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 15px;
  font-size: 15px;
}
.el-card{
  box-shadow: 1px 2px 10px #0875ae!important;
  margin-right: 5px;
  margin-left: 5px;
}
.el-table{
  /*text-align: center!important;*/
}
.el-table_1_column_2,.el-table_1_column_3,.el-table_1_column_4,.el-table_1_column_5,
.el-table_1_column_6,.el-table_1_column_7,.el-table_1_column_8, .el-table_2_column_9.is-leaf,
.el-table_2_column_10.is-leaf,.el-table_2_column_11.is-leaf,.el-table_2_column_12.is-leaf,
.el-table_2_column_13.is-leaf,.el-table_2_column_14.is-leaf{
  /*text-align: center!important;*/
}
.el-table_1_column_1 div.cell{
  /*padding: 0!important;*/
  /*text-align: center!important;*/
}
.el-card__body{
  padding: 5px;
  padding-top: 5px;
}
.el-table th.gutter{
  /*解决element-ui 表格篡位的问题*/
  display: table-cell!important;
}
.el-button.el-button--primary.el-button--mini{
  margin: 2px;
}
.el-button.el-button--danger.el-button--mini{
  margin: 2px;
}
.el-button.el-button--warning.el-button--mini{
  margin: 2px;
}
.el-pagination{
  margin-top: 10px;
}
